th,
td {
  white-space: nowrap;
  padding-right: 8px !important;
}

.table-container {
  //height: 400px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

mat-row {
  mat-cell:not(:last-child) {
    padding-right: 15px;
  }
}

mat-table {
  width: 100%;
}
table {
  width: 100%;
}

mat-paginator {
  margin-bottom: 20px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  text-align: center !important;
  padding-right: 8px !important;
}

.mat-cell:first-of-type,
.mat-header-cell:first-of-type,
.mat-footer-cell:first-of-type {

  th, td {
   padding-left: 24px !important;
  }
}

